<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DetectNetworkChanges.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DetectWifiChanges.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DetectNetworkChanges.Properties.Settings>
            <setting name="CheckSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NetworkToCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPopup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdapterID" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkSpeedMin" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="LinkSpeedCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </DetectNetworkChanges.Properties.Settings>
        <DetectWifiChanges.Properties.Settings>
            <setting name="CheckSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NetworkToCheck" serializeAs="String">
                <value/>
            </setting>
        </DetectWifiChanges.Properties.Settings>
    </userSettings>
</configuration>
